---
layout: page
title: Science
---

<p>
  Hey there! This page is included as an example. Feel free to customize it for your own use upon downloading. Carry on!
</p>
using wide fieldworking at University of Wisconsin Madison and the .



  Thanks for visiting my corner of the internet.
  I am currently a research associate working on Rubin Observatory commissioning with Dr. Keith Bechtol at .

  My research involves using photometric and spectroscopic surveys such as the , the  or the  to explore the (sub)structure of the Milky Way Halo.
  Additionally, I worked as part of the Munnerlyn instrumentation lab developing <a href="https://instrumentation.tamu.edu/instruments/tcal/">TCal</a> a mobile spectrophotometric calibration unit for imaging systems to enhance scientific return from large surveys such as the LSST at VRO.
  I also am extremely interested in spatial statistics, and data vizualization.

<div class="posts">
  {% for tag in site.tags %}
  <p>tag</p>
  {% if tag[0] == "science" %}
    {% for post in tag[1] %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
      </div>
    {% endfor %}
  {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
